.cart{
    background: rgba(255, 153, 0, 0.3);
    padding: 25px;
    position: sticky;
    top: 0;
}
@media screen and (max-width: 576px) {
    .cart{
        padding: 10px;
    }
}

@media screen and (min-width: 577px) and (max-width: 768px) {
    
}