.product {
    width: 300px;
    height: 510px;
    border: 1px solid #95A0A7;
    border-radius: 8px;
    position: relative;
}

.product img {
    width: 286px;
    height: 286px;
    border-radius: 8px;
    margin: 7px;
}

.product-info {
    margin-left: 14px;
}

.product-name {
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: 'Lato';
    font-weight: 400;
    font-size: 21px;
    letter-spacing: 0.0015em;
    color: #0E161A;
}

.product-info p {
    margin-top: 5px;
}

.btn-cart {
    background: #FFE0B3;
    border: 1px solid #95A0A7;
    border-radius: 0px 0px 8px 8px;
    width: 100%;
    position: absolute;
    bottom: 0;
    height: 40px;

}

.btn-cart:hover {
    background-color: orange;
}

@media screen and (max-width: 576px) {
    .product {
        width: 220px;
        height: 390px;
    }
    
    .product img {
        width: 186px;
        height: 186px;
    margin: 17px;

    }
    
    .product-info {
        margin-left: 17px;
    }
    
    .product-name {
        font-size: 15px;
    }
    .btn-cart {
        height: 30px;
    }
}
@media screen and (min-width: 577px) and (max-width: 768px) {
    .product {
        width: 220px;
        height: 450px;
    }
    .product img {
        width: 186px;
        height: 186px;
        margin: 17px;

    }
    .product-info {
        margin-left: 17px;
    }
}

@media screen and (min-width: 769px) and (max-width: 992px) {
    
}
@media screen and (min-width: 770px) and (max-width: 1250px) {

}