.header {
    height: 80px;
    background-color: #1C2B35;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 90px;
    padding-right: 90px;
}

nav.header a {
    text-decoration: none;
    color: white;
    margin-left: 30px;
}

nav.header a:hover {
    color: #FF9900;
}

@media screen and (max-width: 576px) {
    .header {
        flex-direction: column;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    nav.header a {
        margin-left: 15px;
    }
}

@media screen and (min-width: 577px) and (max-width: 768px) {
    .header {
    }

}

@media screen and (min-width: 769px) and (max-width: 992px) {
    .header {
    }

}
@media screen and (min-width: 770px) and (max-width: 1250px) {
    .header {
    }

}





/* @media screen and (max-width: 576px) {
    
}

@media screen and (min-width: 577px) and (max-width: 768px) {
    
}

@media screen and (min-width: 769px) and (max-width: 992px) {
    
}
@media screen and (min-width: 770px) and (max-width: 1250px) {

} */